@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
* {
    font-family: Work Sans;
    margin: 0;
    padding: 0;
}

#sidebar-links p {
    line-height: 4rem;
}

#sidebar-links i {
    font-size: 1.2rem;
}

#buttons {
    width: 10rem;
}

#img-icon {
    font-size: 30rem;
    color: rgb(185, 185, 185);
}

.ecard-img {
    margin: auto;
}

@media(max-width:425px) {
    #img-icon {
        font-size: 17rem;
        color: rgb(185, 185, 185);
    }
}