@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
* {
    font-family: Work Sans;
    margin: 0;
    padding: 0;
}

#sidebar-links p {
    line-height: 4rem;
}

#sidebar-links i {
    font-size: 1.2rem;
}

#sender-div {
    border: 1px solid #e2e2e2;
}

textarea {
    resize: none;
    width: 100%;
    border: 1px solid #e2e2e2;
}

#send-btn {
    background-color: #224F5A;
}